* {
  font-family: sans-serif;
  /* border-top: #1098ad solid 5px; */
  margin: 0px;
  padding: 0px;
}
body {
  font-size: 18px;
  font-family: sans-serif;
  position: relative;
  border-radius: 5px;
}
h1,
h2,
h3,
h4,
p,
li {
  font-family: sans-serif;
}
h1,
h2,
h3 {
  color: #1098ad;
}
h1 {
  /* border-top: red 5px solid; */
  color: rgb(55, 161, 161);
  font-size: 22px;
  text-transform: uppercase;
  font-style: italic;
}
h2 {
  font-size: 36px;
  margin-bottom: 30px;
  /* background-color: aqua; */
  position: relative;
}
h2::after {
  content: "Top";
  background-color: #ffe70e;
  font-size: 16px;
  font-weight: bold;
  display: inline-block;
  padding: 5px;
  position: absolute;
  top: -10px;
  right: -25px;
  /* margin-right: 0px;
  margin-top: 0px; */
}
/* pseudo classes with one colon and pseudo elements with two colon */
h1::first-letter {
  font-style: normal;
  margin-right: 5px;
}
/* p::first-line {
  color: aqua;
} */

h3 {
  font-size: 30px;
}
h4 {
  font-size: 20px;
  text-align: center;
}
.main-h {
  background-color: #f7f7f7;
  padding: 20px 40px;
  margin: 10px;
  margin-bottom: 60px;
}
.post-header {
  padding: 10px;
  margin-bottom: 40px;
}
.nav {
  padding: 10px;
  margin: 10px;
}
.like {
  display: inline;
  padding-left: 20px;
  padding-right: 20px;
  height: 20px;
  cursor: pointer;
  position: absolute;
  top: 50px;
  left: 50px;
}
nav a:link {
  margin: 30px;
  display: inline-block;
}
nav a:link:last-child {
  margin-right: 0px;
}
p {
  font-size: 18px;
  line-height: 1.5;
  margin-bottom: 15px;
}
ul,
ol {
  margin: 50px;
}
li {
  font-size: 18px;
}
footer p {
  font-size: 16px;
}
/*
article header p {
  font-style: italic;
}*/
#author {
  font-style: italic;
}
.rel-author {
  font-weight: bold;
}
.post {
  list-style: none;
}
.post-img {
  width: 50%;
  height: auto;
  margin: 20px;
}
.container {
  position: relative;
  margin: 0px auto;
  /* margin-left: auto;
  margin-right: auto; */
  width: 900px;
}
aside {
  padding: 50px 0px;
  background-color: #f7f7f7;
  border: black solid 5px;
  /*dotted, dashed*
  border-top,border-left,border-right,border-bottom*/
  width: 500px;
  display: inline-block;
}
li:first-child {
  font-weight: bold;
}
li:last-child {
  font-style: italic;
}
/* li:nth-child(2) {
  color: rgb(143, 143, 241);
} */
li:nth-child(odd) {
  color: rgb(143, 143, 241);
}
article p:first-child {
  color: red;
} /*will not get red beacuse p is not first child first chils is header*/

a :link {
  color: #1098ad;
  text-decoration: none;
}
a {
  text-decoration: none;
}
a:hover {
  text-decoration: underline dotted orangered;
}
a:visited {
  color: purple;
}
/* #copyright {
  color: red;
}
.Copyright {
  color: blue;
}
footer p {
  color: greenyellow;
} */

/*Absolutely positioned elements do not move ffrom their position irrelative of postion of the other elementsss.*/
